* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

html,
body {
  height: 100%;
}

input[type="text"] {
  width: 80%;
  margin: 20px;
  padding: 12px;
  border-radius: 3px;
}

input:invalid {
  background-color: #ffdddd;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.inline {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
