* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

html,
body {
  height: 100%;
}

a {
  color: yellow;
}

.inline {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.div-btn-close {
  width: 100%;
  text-align: right;
}

.btn-close {
  width: 5px;
  height: 5px;
  margin: 0;
  margin-right: 2px;
}

.left {
  width: 90%;
}

.middle {
  width: 90%;
  margin-left: 10px;
}
.right {
  width: 15%;
  text-align: right;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 2%;
  margin-top: 30px;
  width: calc(100% - 300px);
}

.customize-parent-container {
  width: calc(100% - 300px);
}

.sauce-box {
  border: 2px solid lightgray;
  cursor: pointer;
  font-size: 19px;
  height: 100px;
  min-width: 700px;
}

.selected {
  border: 3px solid orangered;
}

.not-selected {
  border: 2px solid lightgray;
}

.sauce-image {
  width: 100px;
}

.customize-image {
  width: 200px;
}
.detail-section {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr, 2);
}

.menu-container {
  padding: 10px;
  background-color: #d2d2d2;
  max-width: 250px;
  margin: 5px;
}

.item {
  background-color: #a29f9b;
  padding: 10px;
  cursor: pointer;
  max-width: 300px;
  position: relative;
}

.item-name {
  font-size: 16.8px;
  line-height: 1.5;
}

.item-desc {
  min-height: 180px;
}

.select-button {
  width: 100%;
  background-color: #04aa6d;
  color: white;
  border: none;
}

.dropdown {
  width: 100%;
  text-align: center;
}

.large-font {
  font-family: Open Sans, system-ui, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 17px;
}

.regular-font {
  font-family: Open Sans, system-ui, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 14px;
}

.small-font {
  font-family: Open Sans, system-ui, BlinkMacSystemFont, Helvetica Neue,
    Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 12px;
}

.weight-regular {
  font-weight: 400;
}

.cart {
  color: orangered;
}

.content-section {
  padding: 10px;
  flex: 1 1 auto;
  overflow-y: auto;
  min-height: 0px;
}

.total-section {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 3px solid rgba(0, 0, 0, 0.2);
}

.basket {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 10px;
  z-index: 10;
}

.checkout {
  width: 300px;
  height: 100%;
  background-color: rgb(241, 241, 241);
  position: fixed;
  bottom: 0;
  right: 0;
}

.customize-toppings {
  column-count: 3;
}

.hidden {
  display: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.context-menu .context-menu:hover {
  cursor: context-menu;
}

#circle {
  float: left;
  width: 100px;
  height: 100px;
  shape-outside: circle();
  clip-path: circle();
  background: antiquewhite;
  border-radius: 50%;
  text-align: center;
  line-height: 17px;
  padding-top: 35px;
  margin: 10px;
  align-items: center;
  z-index: 10;
}

#rectangle {
  float: left;
  width: 200px;
  height: 100px;
  shape-outside: inset(20px 5px 30px 10px);
  background: antiquewhite;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  margin: 10px;
  z-index: 10;
  line-height: 17px;
  padding-top: 35px;
}

@media screen and (max-width: 950px) {
  .box {
    display: flex;
    list-style: none;
    gap: 10px;
    width: 100%;
    flex-wrap: wrap;
  }

  .checkout {
    display: none;
  }

  .hidden {
    display: block;
    width: 300px;
    height: 100%;
    position: static;
    background-color: rgb(241, 241, 241);
  }
}
