/* Container needed to position the button. Adjust the width as needed */
.image-container {
  position: relative;
  width: 230px;
}

.menu-image {
  width: 100%;
}

.customize-menu-image {
  cursor: pointer;
}

/* Make the image responsive */
.image-container img {
  width: 100%;
  height: 180px;
}

/* Style the button and place it in the middle of the container/image */
.image-container .customize {
  position: absolute;
  top: 20%;
  left: 75%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  padding: 12px 24px;
  border: none;
  color: #000;
  cursor: pointer;
  border-radius: 30px;
  opacity: 0.9;
}

.image-container .btn:hover {
  opacity: 1;
}
